[Desktop Entry]
Version=1.0
Name=Profile Switcher
GenericName=Web Browser
Comment=Switches Google Chrome profiles based on URL
Exec=profile_switcher %U
Terminal=false
Type=Application
MimeType=text/html;application/xhtml+xml;application/xml;x-scheme-handler/http;x-scheme-handler/https;
Icon=web-browser
Categories=Network;WebBrowser;
StartupNotify=true
